body {
    font-family: 'Rajdhani', sans-serif;
    /* margin: 1rem; commenting this out fixed the weird overlap problem there was previously */
}


.nav-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #011627;
    overflow: hidden;
    z-index: 9001;
}

.title {
    display: flex;
    padding-left: 10px;
    color: white;
    margin-left: 5%;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    font-size: 3rem;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 65%;
}

.material-icons {
    color: white;
    margin: 15px 10px 0 0;
}

input[type=text] {
    color: white;
}

.search-btn {
    margin: 10px 0 0 10px;

}

.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    height: 20rem;
    position: relative;
}

main {
    margin-top: 1rem;
}

.page-count {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: black;
    margin: 0 10px 0 10px;
}

.trending-crypto {
    border-bottom: 2px solid #011627;
    padding-bottom: 30px;

}

.shoppingCart {
    /* nothing here for now */
}

header {
    text-align: center;
    border-bottom: 2px solid #011627;
    margin: 30px 0 30px 0;
}

h2, h4 {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
}

.card {
    margin: 0.5rem;
    border: 2px solid #011627;
}

.card-divider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #002855;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

.card-section {
    font-family: 'Rajdhani', sans-serif;
}

.fitImage {
    max-width: 100.05px;
    max-height: 100.05px;
    min-width: 100.05px;
    min-height: 100.05px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

p {
    color: #011627;
    font-size: 2rem;
}

.saved-coins {
    padding: 20px 0 20px 0;
}

.saved {
    border: 2px solid #011627;
}

.btn {
    background-color: #014f86;
    margin: 5px 5px 0 0;
}

.clear-all-button {
    text-align: center;
}

#typed-container {
    background-color: #002855;
    color: white;
    border: none;
}

.card-text {
    font-family: 'Rajdhani', sans-serif;
}

.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

h5 {
    font-weight: bolder;
    font-family: 'Rajdhani', sans-serif;
}

footer {
    height: 7rem;
    width: 100%;
    background-color: #011627;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 10px;

}

.git-link {
    padding-left: 30px;
}

.git-img {
    background-color: white;
    width: 150%;
}

/* attemtping to create a sticky navbar */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1063px) {
    .search-form {
        width: 60%;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media only screen and (max-width: 911px) {
    .search-form {
        width: 50%; /* was 60 previously */
        display: flex;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media only screen and (max-width: 708px /* was 575 before */) {

    .title {
        padding-left: 25%;
        width: 100%;
        margin-right: 25%;
    }

    .search-form {
        width: 100%;
        margin-right: 25%;
        margin-left: 25%;
    }
}

@media only screen and (max-width: 320px) {
    
    .nav-bar {
        width: 100%;
        height: 22%;
    }
    .title {
        padding-left: 10%;
    }

    h1 {
        font-size: 2rem;
    }

    .search-form {
        width: 100%;
        margin-left: 15%;
    }

    .search-btn {
        margin-left: 100%;
    }
}