body {
    margin: 1rem;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #011627;
}

.title {
    display: flex;
    padding-left: 10px;
}

.search-form {
    display: flex;
    margin-left: auto;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    height: 20vw;
    position: relative;

}

main {
    margin-top: 1rem;
}

.trending-crypto {
    border-bottom: 2px solid #011627;
    padding-bottom: 30px;

}

header {
    text-align: center;
    border-bottom: 2px solid #011627;
    margin: 30px 0 30px 0;
}

h4 {
    text-align: center;
}

.card {
    margin: 0.5rem;
    border: none;
}

.card-divider {
    background-color: #002855;
    color: white;
}

/* .card-section {
    background-color: #013a63;
    color: white;
} */
/* 
.btn {
    background-color:transparent;
    border: none;
    color: transparent;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    outline: 0;
} */

.saved-coins {
    padding: 20px 0 20px 0;
}

.saved {
    border: 2px solid #011627;
}

.btn {
    background-color: #014f86;
}

#clear-button {
    text-align: center;
}

#typed-container {
    background-color: #002855;
    color: white;
}

h5 {
    font-weight: bolder;
}

footer {
    height: 7rem;
    width: 100%;
    background-color: #011627;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;

}

.git-link {
    display: flex;
    padding: 20px;
    margin-left: auto;
}

.bi-github {
    color: white;
    font-size: 3rem;
}






@media only screen and (max-width: 320px) {
    /* For mobiles: CSS */
}

@media only screen and (min-width: 600px) {
    /* For tablets: CSS */
}

@media only screen and (min-width: 768px) {
    /* For desktop: CSS */
}

